.App {
  text-align: center;
}

.App-header {
  background-color: #017575;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1em;
  box-shadow: 0px 1px 10px #014646;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2%;
}

.side-bar {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  border: 3px solid #017575;
  padding: 1em;
  width: 20%;
}
.posts{
  width: 50%;

}
hr{
  width: 90%;
}
.post {
  border: 3px solid #017575;
  margin-bottom: 2%;
}
.tag-button {
  background-color: #6f1a6a;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #3a0f37;
  padding: 3%;
  width: 100%;
  border: 1px solid #6f1a6a;
}
.tag-button:hover{
  background-color: #571752;
}
